body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://npr.brightspotcdn.com/dims3/default/strip/false/crop/5152x3435+0+0/resize/5152x3435!/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2Fa5%2F1f%2Fe4077fab425691b76ecec0376bf8%2Fap24329270004727.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.navbar {
  background-color: #2c2c2c;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a.active {
  text-decoration: underline;
}

.logout-box {
  background-color: white;
  padding: 40px;
  border-radius: 12px;
  width: 50%;
  max-width: 500px;
  margin: 100px auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

.logout-box h2 {
  margin-bottom: 20px;
  color: #000;
}

.logout-box a {
  color: #007BFF;
  text-decoration: none;
}

footer {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 14px;
}
